.taskForm {
    display: flex;
    gap: 1.2rem;
}

.taskForm input {
    flex: 1;
    border-radius: .8rem;
    padding: 1.6rem;
    border: 1px solid var(--gray-700);
    background-color: var(--gray-500);
    color: var(--white);
}

.taskForm input:not(:placeholder-shown) {
    border-color: var(--purple-dark);
}
  

.taskForm button {
    padding: 1.6rem;
    color: var(--white);
    background-color: var(--blue-dark);
    border-radius: .8rem;
    border: none;
    
    font-weight: bold;
    font-size: 1.4rem;
    line-height: 1.4;

    display: flex;
    align-items: center;
    gap: 0.4rem;
}